@tailwind base;
h1 {
  @apply text-4xl font-semibold my-3;
}
h2 {
  @apply text-3xl font-semibold my-4;
}
h3 {
  @apply text-2xl font-semibold my-5;
}
ul {
  @apply list-disc list-inside;
}
ol {
  @apply list-decimal list-inside;
}
a {
  @apply underline;
}
table {
  @apply border-2 border-black;
}
td {
  @apply border border-black;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #575757;
}

@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Consolas, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}
