@tailwind base;
body {
  @apply bg-accent;
}
h1 {
  @apply text-4xl font-semibold my-3;
}
h2 {
  @apply text-3xl font-semibold my-4;
}
h3 {
  @apply text-2xl font-semibold my-5;
}
ul {
  @apply list-disc list-inside;
}
ol {
  @apply list-decimal list-inside;
}
a {
  @apply underline;
}
table {
  @apply border-2 border-black;
}
td {
  @apply border border-black;
}



::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #575757;
}

@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Consolas, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #FFFFFF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
